---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  item: CollectionEntry<"misc">;
}

const { item } = Astro.props;
const { Content } = await render(item);
---

<li class="text-sm misc-body"><Content /></li>

<style is:global>
  .misc-body p { display: inline; margin: 0; }
</style>
